<h1 style="color:red;text-align: center"> <u>Edit Profile</u></h1>

<div [formGroup]="editForm"> 
    
    <div style="border:2px solid;width:70%;height:550px;text-align:center;margin:5%;color:black;background-color:white">
           <h1 style="color:red"><u>Profile Image</u></h1>
           <br><br>
         Name: &nbsp;<input type="text" formControlName="name" required><br>
        <div>&nbsp; &nbsp;</div>
        
        Contact: &nbsp;<input type="number" formControlName="number" required> &nbsp; &nbsp;Not Editable<br>
        <div>&nbsp; &nbsp;</div>
        Email: &nbsp;<input type="email" formControlName="email" required><br>
        <div>&nbsp; &nbsp;</div>
        Pincode : &nbsp;<input type="number" formControlName="pin" required><br>
        <div>&nbsp; &nbsp;</div>
        Address: <textarea rows="4" cols="50" formControlName="add"></textarea>
        <br><br>
          <a routerLink="setpassword"> <button style="background-color:green;border:1px;height:30px;width:100px" (click)="def()" >Update</button></a>
            &nbsp; &nbsp;<a><button style="background-color: red;border:1px;height:30px;width:100px">Cancel</button></a><br>
            
            <a  style="color:black" ><h4><u>Resend OTP..</u></h4></a>
            
        </div>
</div>

<table *ngIf="data">
    <tr *ngFor="let a of data">
        <td>{{a.name}}</td>
        <td>{{a.number}}</td>
        <td>{{a.email}}</td>
        <td>{{a.pin}}</td>
        <td>{{a.add}}</td>
    </tr>
</table>
