<div id="d2" style="margin:30px;">
    <h1 style="text-align:center;color:whitesmoke"><h2><u>Dash Board</u></h2></h1>
   <div>
<a routerLink="booking" ><div style="float:left" id="d1">
   <h1>Booking For Searching</h1>
</div></a>
<a routerLink="history" ><div style="float:right" id="d1">
   <h1>View Older History</h1>
</div></a>
   </div>
       <div>  
               <a routerLink="edit" > <div style="float:left" id="d1">
           <h1>Edit Profile</h1>
       </div></a>
       <a routerLink="change" ><div style="float:right" id="d1">
           <h1>Change Password</h1>
       </div></a>
       </div>
       <div>  
               
               <a routerLink="logout" > <div style="float:right" id="d3">
                   <h1>Logout</h1>
               </div></a>
               </div>
       
</div>

